.App-header {
    background-color: #001529;
    min-height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 800px;
    border-radius: 10px;
        padding: 10px;
}

.drag-n-drop {
    padding: .5rem;
    display: flex;
    width: 100%;
    gap: .5rem;
    height: 100%;
    grid-template-columns: repeat(auto-fill, 300px);
    align-items: start;
}

.dnd-group {
    background-color: #455768;
    border-radius: 5px;
    padding: .5rem;
    width: 25%;
    min-height: 250px;
}

.dnd-item {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    background-color: white;
    border-radius: 5px;
    color: gray;
    font-weight: bold;
    margin-top: 7%;
}

.dnd-item:not(:last-of-type) {

}

.dnd-item * {
    margin: 0;
}

.group-title {
    display: flex;
    justify-content: center;
    margin: .5rem;
}

.current {
    background-color: gray;
}