#components-layout-demo-side {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

#components-layout-demo-fixed {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.2);
}

.logo {
    height: 32px;
    margin: 14px;
    align-items: center;
    background: rgba(224, 219, 219, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-menu-submenu .ant-menu-submenu-inline {
    padding: 0px;
}