#navbar-menu-container ul li a {
    text-decoration: none;
    color: aliceblue;
}

#navbar-menu-container {
    background-color: black;
    min-width: 500px;
    min-height: 60px;
    height: 8.7%;
}

.header {
    display: flex;
    width: 100%;
}

#logout {
    position: absolute;
    right: 0px;
}