#content {
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-left: 250px;
}

#task-table {
    display: inline-block;
}

#task-table tr {
    text-align: center;
}

#task-table th {
    padding: 30px;
    border: 1px solid;
    width: 150px !important;
}

#task-table td {
    padding: 30px;
    border: 1px solid;
    text-align: center;
    }
    
    #modal-button-w {
        background-color: red;
        margin: 20px;
        border-radius: 5px;
        height: 80px;
        width: 110px;
        border: none;
    }
    
    #modal-button-p {
        background-color: yellow;
        margin: 20px;
        border-radius: 5px;
        height: 80px;
        width: 110px;
        border: none;
    }
    
    #modal-button-d {
        background-color: green;
        margin: 20px;
        border-radius: 5px;
        height: 80px;
        width: 110px;
        border: none;
}